/* ------------------- COMMON STYLING ------------------- */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.parallax {
    /* The image used is specified on each section individually */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: auto;
    padding: 1rem 2rem;
}
#home img {
    margin: auto;
}

/* ------------------- HOME SECTION ------------------- */

#home .parallax {
    /* The image used */
    background-image: url("images/begeleiding_card.jpg");
}

#home .content {
    background-color: rgba(255, 255, 255, 0.25);
}

/* ------------------- SERVICES SECTION ------------------- */

#services .parallax {
    /* The image used */
    background-image: url("images/begeleiding_card.jpg");
}

#services .content {
    background-color: rgba(255, 255, 255, 0.25);
}

#services .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

#services .card {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: #ED0000 2px solid;
    display: flex;
    flex-direction: column;
    justify-items: right;
}

.cardheader {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 .5em 0;
    height: 5rem;
    position: relative;
}

.cardheader h3 {
    color: #ED0000;
    text-shadow: white 2px 2px 10px;
    margin: 0;
    padding: 1rem;
    bottom: 0;
    position: absolute;
}

#verwarming .cardheader {
    background-image: url(images/verwarming_card.jpg);
}

#sanitair .cardheader {
    background-image: url(images/sanitair_card.jpg);
}

#begeleiding .cardheader {
    background-image: url(images/begeleiding_card.jpg);
}

.cardbody, .cardfooter {
    margin: 1rem;
}

.cardbody {
    flex-grow: 10;
}

.cardfooter {
    align-self: flex-start;
}

button.cta {
    color: white;
    border: 2px solid white;
    background-color: #ed0000;
    border-radius: 0.5em;
    padding: 0.5em;
    width: fit-content;
    width: -moz-fit-content;
    box-shadow: #333 8px 8px 15px;
}

button.cta:hover {
    background-color: rgb(237, 0, 0, 0.95);
    box-shadow: #333 4px 4px 9px;
}

button.cta a {
    color: white;
    text-shadow: black 1px 1px 1px;
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem;
}

/* ------------------- PROJECTS SECTION ------------------- */

#projects .parallax {
    /* The image used */
    background-image: url("images/sanitair.jpg");
}

#projects .content {
    background-color: rgba(255, 255, 255, 0.25);
}

.carousel {
    margin-left: 15%;
    margin-right: 15%;
    max-height: 480px;
}

ul.slides {
    display: block;
    position: relative;
    height: 480px;
    width: 640px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    /* position: absolute; */
    height: 480px;
    width: 640px;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 480px;
    max-height: 480px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

input:checked+.slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
    display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1, input#img-2:checked~.carousel-dots label#img-dot-2, input#img-3:checked~.carousel-dots label#img-dot-3, input#img-4:checked~.carousel-dots label#img-dot-4, input#img-5:checked~.carousel-dots label#img-dot-5, input#img-6:checked~.carousel-dots label#img-dot-6, input#img-7:checked~.carousel-dots label#img-dot-7, input#img-8:checked~.carousel-dots label#img-dot-8, input#img-9:checked~.carousel-dots label#img-dot-9, input#img-10:checked~.carousel-dots label#img-dot-10, input#img-11:checked~.carousel-dots label#img-dot-11 {
    opacity: 1;
}

input:checked+.slide-container .nav label {
    display: block;
}

/* ------------------- CONTACT SECTION ------------------- */

#contact .parallax {
    /* The image used */
    background-image: url("images/vloer.jpg");
}

#contact .content {
    background-color: rgba(225, 225, 225, 0.65);
}

/*Input styling*/

.forum {
    font-size: 28px;
    align-content: center;
    margin: auto;
    padding: 3%;
    padding-top: 5%;
    display: grid;
    grid-auto-columns: minmax(50%, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
}

.gtable {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
    font-size: 20px;
    height: 100%;
}

/*Map Styling*/

.map {
    grid-column: 1 / -1;
    margin-top: 2%;
}

/*Gray filter on map*/

.map iframe {
    border: 0;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(99%);
    /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;
    /* Fix for transition flickering */
}

fieldset {
    text-align: center;
    height: 100%;
    font-family: Avenir;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

legend {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

/*Input Styling- making it prettier*/

#contact * {
    box-sizing: border-box;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 19px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 5%;
    margin: 5%;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    width: 80%;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
    border: none;
}

span.label {
    margin-left: 8%;
}

.inp input:focus+span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}

/*Contact box spacing*/

label.inp {
    margin: 3%;
    margin-top: 7%;
    padding-top: 3%;
}

#test {
    word-wrap: break-word;
}

/*Media Queries*/

@media only screen and (max-width: 768px) {
    #services .cards {
        grid-template-columns: 1fr;
    }
    .forum {
        grid-template-columns: 1fr;
    }
    .carousel {
        width: 100%;
        margin: 0;
    }
    .carousel-dots {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #services .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .forum {
        grid-template-columns: repeat(2, 1fr);
    }
}