#services .parallax {
    /* The image used */
    background-image: url("images/services.jpeg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#services .content {
    height: auto;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 36px;
    padding: 1rem 2rem;
}

#services .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
}

#services .card {
    /*verdoriehoezatdatnuweer*/
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    border: #ED0000 1px solid;
    flex-basis: 30%;
    padding: 0.5rem;
}