#services .parallax {
    /* The image used */
    background-image: url("images/services.jpeg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#services .content {
    height: auto;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 36px;
    padding: 1rem 2rem;
}

#services .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

#services .card {
    /*verdoriehoezatdatnuweer*/
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    border: #ED0000 1px solid;
    padding: 0.5rem;
}

@media only screen and (max-width: 800px) {
    #services .cards {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 799px) {
    #services .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}